In [1]:
#read the information of A1-synthetic.txt and load it into a dataframe to preprocess it
import pandas as pd
import numpy as np


#read the .txt file 
df = pd.read_table('Data/A1-synthetic.txt', delimiter = '\t')
df.head()

,#v1,v2,v3,v4,v5,v6,v7,v8,v9,z
0,37.344110,10.542156,0.969185,3.568534,96.798733,3.429026,75.810196,0,20.002459,11.805369
1,4.089849,11.894301,0.467775,1.279044,100.149383,3.190073,76.423095,0,12.702628,5.125025
2,-32.333439,10.968631,0.238486,1.410745,100.642075,3.093934,78.758727,1,10.723848,3.218553
3,-45.632977,11.509606,0.924938,3.404069,105.963016,2.884269,83.027750,0,19.946593,12.955092
4,-41.543394,10.117186,0.315180,1.020120,97.371423,2.815820,77.194463,0,11.105024,1.919094

In [2]:
#print the number of rows and columns
print(df.shape)
print(df.columns)
print(df.columns[0])
print(df[df.columns[0]])
print(min(df[df.columns[0]]))

(1000, 10)
Index(['#v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'z'], dtype='object')
#v1
0      37.344110
1       4.089849
2     -32.333439
3     -45.632977
4     -41.543394
         ...
995     3.792427
996   -15.036910
997     3.448645
998    44.874246
999    19.611066
Name: #v1, Length: 1000, dtype: float64
-49.94291004

In [3]:
#preprocess input 9 columns to scale it's values from 0 to 1
columns = df.shape[1]
inputcolumns = df.columns[0 : 9]
smin = 0
smax = 1
df_normalized = df
for inp_col in inputcolumns:
    column_values = df[inp_col]
    #print(column_values)
    xmin = min(column_values)
    xmax = max(column_values)
    #print( smin + ((smax - smin) / (xmax - xmin) ) * (df[inp_col] - xmin) )
    df_normalized[inp_col] = smin + ((smax - smin) / (xmax - xmin) ) * (df[inp_col] - xmin)
print(df_normalized)

          #v1        v2        v3        v4        v5        v6        v7  \
0    0.874335  0.271150  0.969445  0.856127  0.374743  0.894346  0.414925
1    0.541234  0.947532  0.467824  0.092297  0.482507  0.747468  0.434109
2    0.176390  0.484485  0.238439  0.136236  0.498353  0.688374  0.507217
3    0.043172  0.755097  0.925180  0.801257  0.669486  0.559499  0.640841
4    0.084136  0.058568  0.315165  0.005914  0.393162  0.517425  0.458254
..        ...       ...       ...       ...       ...       ...       ...
995  0.538255  0.283678  0.912973  0.969854  0.435934  0.767128  0.472456
996  0.349646  0.819866  0.988783  0.734088  0.722851  0.776040  0.682688
997  0.534811  0.409679  0.799158  0.921252  0.503492  0.216659  0.522636
998  0.949762  0.136089  0.061065  0.088566  0.475514  0.618122  0.529003
999  0.696707  0.995529  0.200748  0.058665  0.467517  0.397461  0.413196

      v8        v9          z
0    0.0  0.829772  11.805369
1    0.0  0.218086   5.125025
2    1.0  0.052275   3.218553
3    0.0  0.825091  12.955092
4    0.0  0.084215   1.919094
..   ...       ...        ...
995  0.0  0.737678  11.265913
996  0.0  0.953019  15.061569
997  0.0  0.578718  11.029825
998  0.0  0.003222   1.580719
999  0.0  0.040515   3.665128

[1000 rows x 10 columns]

In [4]:
#preprocess output 10th column to scale it's values from 0.1 to 0.9
columns = df.shape[1]
outputcolumn = df.columns[9]
smin = 0.1
smax = 0.9

column_values = df[outputcolumn]
xmin = min(column_values)
xmax = max(column_values)
df_normalized[outputcolumn] = smin + ((smax - smin) / (xmax - xmin) ) * (df[outputcolumn] - xmin)
print(df_normalized)

          #v1        v2        v3        v4        v5        v6        v7  \
0    0.874335  0.271150  0.969445  0.856127  0.374743  0.894346  0.414925
1    0.541234  0.947532  0.467824  0.092297  0.482507  0.747468  0.434109
2    0.176390  0.484485  0.238439  0.136236  0.498353  0.688374  0.507217
3    0.043172  0.755097  0.925180  0.801257  0.669486  0.559499  0.640841
4    0.084136  0.058568  0.315165  0.005914  0.393162  0.517425  0.458254
..        ...       ...       ...       ...       ...       ...       ...
995  0.538255  0.283678  0.912973  0.969854  0.435934  0.767128  0.472456
996  0.349646  0.819866  0.988783  0.734088  0.722851  0.776040  0.682688
997  0.534811  0.409679  0.799158  0.921252  0.503492  0.216659  0.522636
998  0.949762  0.136089  0.061065  0.088566  0.475514  0.618122  0.529003
999  0.696707  0.995529  0.200748  0.058665  0.467517  0.397461  0.413196

      v8        v9         z
0    0.0  0.829772  0.697296
1    0.0  0.218086  0.380530
2    1.0  0.052275  0.290129
3    0.0  0.825091  0.751813
4    0.0  0.084215  0.228512
..   ...       ...       ...
995  0.0  0.737678  0.671716
996  0.0  0.953019  0.851697
997  0.0  0.578718  0.660521
998  0.0  0.003222  0.212467
999  0.0  0.040515  0.311305

[1000 rows x 10 columns]

In [5]:
#write normalized data into output text file
# Write DataFrame to a text file
with open('Normalized Data/A1-synthetic_normalized.txt', 'w') as file:
    file.write(df_normalized.to_string(index=False))