In [61]:
#read the information of A1-synthetic.txt and load it into a dataframe to preprocess it
import pandas as pd
import numpy as np


#read the .txt file 
df = pd.read_table('Data/A1-turbine.txt', delimiter = '\t')
df.head()

,#height_over_sea_level,fall,net_fall,flow,power_of_hydroelectrical_turbine
0,624.0,89.16,89.765,3.5,2512.85
1,628.0,93.16,93.765,3.5,2583.79
2,602.0,67.84,66.415,6.5,3748.77
3,599.0,64.84,63.415,6.5,3520.65
4,630.0,94.69,93.540,8.0,6673.84

In [62]:
#print the number of rows and columns
print(df.shape)
print(df.columns)
print(df.columns[0])
print(df[df.columns[0]])
print(min(df[df.columns[0]]))

(451, 5)
Index(['#height_over_sea_level', 'fall', 'net_fall', 'flow',
       'power_of_hydroelectrical_turbine'],
      dtype='object')
#height_over_sea_level
0      624.0
1      628.0
2      602.0
3      599.0
4      630.0
       ...
446    605.0
447    621.0
448    607.0
449    612.0
450    610.0
Name: #height_over_sea_level, Length: 451, dtype: float64
591.0

In [69]:
#preprocess input 4 columns to scale it's values from 0 to 1
columns = df.shape[1]
inputcolumns = df.columns[0 : 4]
smin = 0
smax = 1
df_normalized = df.copy()
for inp_col in inputcolumns:
    column_values = df[inp_col]
    #print(column_values)
    xmin = min(column_values)
    xmax = max(column_values)
    #print( smin + ((smax - smin) / (xmax - xmin) ) * (df[inp_col] - xmin) )
    df_normalized[inp_col] = smin + ((smax - smin) / (xmax - xmin) ) * (df[inp_col] - xmin)

print(df_normalized)

     #height_over_sea_level      fall  net_fall      flow  \
0                  0.846154  0.821157  0.848756  0.083333
1                  0.948718  0.922628  0.946807  0.083333
2                  0.282051  0.280315  0.276382  0.583333
3                  0.205128  0.204211  0.202843  0.583333
4                  1.000000  0.961441  0.941292  0.833333
..                      ...       ...       ...       ...
446                0.358974  0.363014  0.377742  0.166667
447                0.769231  0.730594  0.703518  1.000000
448                0.410256  0.377981  0.377497  0.833333
449                0.538462  0.508625  0.521510  0.583333
450                0.487179  0.462963  0.495772  0.250000

     power_of_hydroelectrical_turbine
0                             2512.85
1                             2583.79
2                             3748.77
3                             3520.65
4                             6673.84
..                                ...
446                           2337.68
447                           6451.24
448                           4806.83
449                           4450.58
450                           2893.53

[451 rows x 5 columns]

In [70]:
#preprocess output 5th column to scale it's values from 0.1 to 0.9
columns = df.shape[1]
outputcolumn = df.columns[4]
smin = 0.1
smax = 0.9

column_values = df[outputcolumn]
xmin = min(column_values)
xmax = max(column_values)
df_normalized[outputcolumn] = smin + ((smax - smin) / (xmax - xmin) ) * (df[outputcolumn] - xmin)
print(df_normalized)

     #height_over_sea_level      fall  net_fall      flow  \
0                  0.846154  0.821157  0.848756  0.083333
1                  0.948718  0.922628  0.946807  0.083333
2                  0.282051  0.280315  0.276382  0.583333
3                  0.205128  0.204211  0.202843  0.583333
4                  1.000000  0.961441  0.941292  0.833333
..                      ...       ...       ...       ...
446                0.358974  0.363014  0.377742  0.166667
447                0.769231  0.730594  0.703518  1.000000
448                0.410256  0.377981  0.377497  0.833333
449                0.538462  0.508625  0.521510  0.583333
450                0.487179  0.462963  0.495772  0.250000

     power_of_hydroelectrical_turbine
0                            0.219965
1                            0.230125
2                            0.396961
3                            0.364292
4                            0.815860
..                                ...
446                          0.194879
447                          0.783981
448                          0.548486
449                          0.497467
450                          0.274483

[451 rows x 5 columns]

In [71]:
#write normalized data into output text file
# Write DataFrame to a text file
with open('Normalized Data/A1-turbine_normalized.txt', 'w') as file:
    file.write(df_normalized.to_string(index=False))